@import "tailwindcss";

* {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  caret-color: transparent;
}

body {
  background-color: #f5f5f5;
}

input, textarea {
  caret-color: auto;
}